# $Id$
#
# OnLogistics configuration file
#

# PWAK framework constants
# ----------------------------------------------------------------------------

# Choose the backend describing parameters to access database
# for each "account" (or customer, group of users sharing a common db).
# Two backends are currently availables:
# - file: account's database parameters are described on the present flat
#   configration file. eg: 
#   ACCOUNTS_BACKEND=file
#   DSN_CUSTOMER1=mysqlt://user1:pass2@localhost/db_customer1
#   DSN_CUSTOMER2=mysqlt://use2r:pass2@localhost/db_customer2
#   etc...
# - db: account's database parameters are stored in a main dedicated
#   database, to simplify mass hosting (yet to be documented).
ACCOUNTS_BACKEND=file

# Only set this if you have ACCOUNTS_BACKEND=file:
# Databases DSN for each account:
#DSN_CUSTOMER1=mysqlt://user1:pass2@localhost/db_customer1
#DSN_CUSTOMER2=mysqlt://user2:pass2@localhost/db_customer2

# Only if ACCOUNTS_BACKEND=db , parameters to connect to the master
# database (should be like DSN=dbdriver://user:pass@host/dbname).
#DSN=mysqlt://user:pass@localhost/ol_accounts

# Only if ACCOUNTS_BACKEND=db , set common credentials to access users
# databases.
#DB_LOGIN=username
#DB_PASSWORD=password

# path to PWAK framework (http://pwak.googlecode.com)
FRAMEWORK_ROOT=/home/httpd/htdocs/ateor-libs/current/pwak

# PHP sessions timeout (seconds). 1800 seconds = 30 minutes.
SESSION_TIMEOUT=1800

# XXX/TODO merge those two constants.
# ENVIRONMENT as 4 possible values: www, demo, recette or current
#ENVIRONMENT=current

# Set this to 1 if you use OL on a development environnment, 0 if in
# production.
#DEV_VERSION=1

# Smarty's template directory
#
# default value is "templates"
SMARTY_TEMPLATE_DIR=lib/templates

# Directory for smarty's compiled files; if you run several OnLogistics
# on the same host, please use differents directories. The web server 
# must have write access in this directory (and if php runs in safe-mode,
# this directory must have the same uid than the owner of this script).
# default value: system temporary directory.
SMARTY_COMPILE_DIR=/var/glao/current

# Mail parameters. Uncomment those settings if necessary, else default 
# values should work well.
#MAIL_SMTP_RELAY=localhostd
#MAIL_SMTP_PORT=25
#MAIL_SMTP_USER=username  # only if you need smtp auth
#MAIL_SMTP_PWD=password	  # ditto

# Developers' email (will receive debugging mails)
MAIL_DEV=dev@ateor.com

# Email address the application will use as expeditor (From) 
MAIL_SENDER=current@ateor.com

# Boolean. Set to 1 you want to enable i18n support. Default is 0.
I18N_ENABLED=1

# OnLogistics specifics contants
# ----------------------------------------------------------------------------

# OnLogistics version (will be displayed on pages' footers)
ONLOGISTICS_VERSION=2_0_1-CURRENT

# OnLogistics apps' download URL. Must contain:
# - credentials, if http auth is required
# - host name
# - path to the proper directory (if prod or testing)
DOWNLOAD_ADDRESS=https://download.ateor.com/private/current

# Downloadables applications, comma separted names.
# Ex: Application1:myapp1.exe,Application2:myapp2.exe
AVAILABLE_APPS=Onlogistics-Desktop:onlogistics.exe

# root (in the OL application) user id
ROOT_USERID=1

# In the following comments PROJECT_ROOT reffers to the root directory 
# that contains the bootstrap.inc.php file (ie. the OL root).
 
# Directory containing libs (relative to PROJECT_ROOT)
LIB_DIR=lib
# Directory containing public web files (relative to LIB_DIR)
WWW_DIR=.
# Directory containing generated classes (relative to LIB_DIR)
MODELS_DIR=Objects
# Directory containing user's classes (relative to LIB_DIR)
CLASSES_DIR=.
# Directory containing customs grid classes (relative to LIB_DIR)
CUSTOM_GRID_DIR=CustomGrid
# Directory containing customs controller classes (relative to LIB_DIR)
CUSTOM_CONTROLLER_DIR=Custom
# Directory containing customs timetable classes (relative to LIB_DIR)
CUSTOM_TIMETABLE_DIR=CustomTimetable

# Base pages template (without templates directory)
BASE_TEMPLATE=Main.html
# Base template for popups (without templates directory)
BASE_POPUP_TEMPLATE=BlankPopup.html
# Menu's description format (php or xml)
MENU_METADATA_FORMAT=php
# File containing menu's description
MENU_METADATA=menu.inc.php

ONLOGISTICS_API=https://www.onlogistics.com/rpc/api_site.php

# Directory for uploaded files. Only needed if you use GED. Must be writable
# by the webserver.
GED_UPLOAD_DIR=/home/httpd/ged_docs/
